#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "title" "form";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "title title" "form form";
    }

}

@media(min-width: 799.3px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". title ." ". form .";
    }

}

@media(min-width: 1259.3px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". title title ." ". form form .";
    }
}
.title{
    grid-area:title;
    padding:3vh;
}
.form{
    grid-area:form;
    padding:1vh 3vh;
}
.section{
    padding:2vh 0;
}
.photo-wrap{
    opacity:1;
    height:200px;
    display:flex;
    width:auto;
    justify-content:center;
    align-items:center;
    margin-bottom:2rem;
}
.hidden{
    height:0;
    display:none;
    opacity:0;
}
