#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.courses {
    grid-area: main;
    display: grid;
    grid-template-areas: "title" "description" "subtitle" "bacheloroftheology" "bachelorofministry" "churchleadershipcertificate" "specialstudents";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .courses {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "title title" "description description" "subtitle subtitle" "bacheloroftheology bachelorofministry" "churchleadershipcertificate specialstudents";
    }

}

@media(min-width: 799.3px) {
    .courses {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". title title ." ". description description ." ". subtitle subtitle ." ". bacheloroftheology bachelorofministry ." ". churchleadershipcertificate specialstudents .";
    }

}

@media(min-width: 1259.3px) {
    .courses {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". title title ." ". description description ." ". subtitle subtitle ." ". bacheloroftheology bachelorofministry ." ". churchleadershipcertificate specialstudents .";
    }
}
.title{
    grid-area:title;
    padding:3vh;
}
.subtitle{
    grid-area:subtitle;
    padding:3vh;
}
.description{
    grid-area:description;
    padding:3vh;
}
.bacheloroftheology{
    grid-area:bacheloroftheology;
    padding:3vh;
}
.bachelorofministry{
    grid-area:bachelorofministry;
    padding:3vh;
}
.churchleadershipcertificate{
    grid-area:churchleadershipcertificate;
    padding:3vh;
}
.specialstudents{
    grid-area:specialstudents;
    padding:3vh;
}
