#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main{
    grid-area: main;
    display: grid;
    grid-template-areas: "title" "purpose" "qualifications" "application" "graduation" "scope";
    grid-gap: 2vmin
}
div.main div:nth-child(5n-2){
    border-radius: 0 0 70% 50%/7%;
    animation: borderanimation 4s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
@keyframes borderanimation {
    0% {
      border-radius: 0 0 70% 50%/7%;
    }
    40% {
      border-radius: 0 0 70% 54%/7%;
    }
    70% {
      border-radius: 0 0 57% 54%/7%;
    }
    100% {
      border-radius: 0 0 70% 50%/7%;
    }
}
div.main div:nth-child(5n){
    border-radius: 31% 71%/11%;
    animation: borderanimationtwo 4s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
@keyframes borderanimationtwo {
    0% {
      border-radius: 31% 71%/11%;
    }
    40% {
      border-radius: 31% 77%/11%;
    }
    70% {
      border-radius: 70% 77%/11%;
    }
    100% {
      border-radius: 31% 71%/11%;
    }
}

@media(min-width: 499.3px) {
    .course {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "title title" "purpose purpose" "qualifications qualifications" "application application" "graduation graduation" "scope scope";
    }

}

@media(min-width: 799.3px) {
    .course {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". title ." ". purpose ." ". qualifications ." ". application ." ". graduation ." ". scope .";
    }

}

@media(min-width: 1259.3px) {
    .course {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". title title ." ". purpose purpose ." ". qualifications qualifications ." ". application application ." ". graduation graduation ." ". scope scope .";
    }
}
.purpose{
    grid-area:purpose;
    padding:3vh;
}
.qualifications{
    grid-area:qualifications;
    padding:3vh;
}
.testimonies{
    grid-area:testimonies;
    padding:3vh;
}
.application{
    grid-area:application;
    padding:3vh;
}
.graduation{
    grid-area:graduation;
    padding:3vh;
}
.scope{
    grid-area:scope;
    padding:3vh;
}
.title{
    grid-area:title;
    padding:3vh;
}
