#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

div.main div:nth-child(n+2){
  padding:3vh;
}
.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "hero" "description" "subtitle" "bacheloroftheology" "bachelorofministry" "churchleadershipcertificate" "specialstudents" "text1" "text2" "text3" "text4" "text5";
}

@media(min-width: 499.3px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "hero hero" "description description" "subtitle subtitle" "bacheloroftheology bachelorofministry" "churchleadershipcertificate specialstudents" "text1 text1" "text2 text2" "text3 text3" "text4 text4" "text5 text5";
    }

}

@media(min-width: 799.3px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "hero hero" "description description" "subtitle subtitle" "bacheloroftheology bachelorofministry" "churchleadershipcertificate specialstudents" "text1 text1" "text2 text2" "text3 text3" "text4 text4" "text5 text5";
    }

}

@media(min-width: 1259.3px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto;
        grid-template-areas: ". hero hero ." ". description description ." ". subtitle subtitle ." ". bacheloroftheology bachelorofministry ." ". churchleadershipcertificate specialstudents ." ". text1 text1 ." ". text2 text2 ." ". text3 text3 ." ". text4 text4 ." ". text5 text5 .";
    }
}
.text1{
    grid-area:text1;
}
.text2{
    grid-area:text2;
}
.text3{
    grid-area:text3;
}
.text4{
    grid-area:text4;
}
.text5{
    grid-area:text5;
}
.hero{
    grid-area:hero;
}
.subtitle{
    grid-area:subtitle;
    padding:1vh;
}
.description{
    grid-area:description;
    padding:1vh;
}
.bacheloroftheology{
    grid-area:bacheloroftheology;
    padding:1vh;
    margin:1vh;
}
.bachelorofministry{
    grid-area:bachelorofministry;
    padding:1vh;
    margin:1vh;
}
.churchleadershipcertificate{
    grid-area:churchleadershipcertificate;
    padding:1vh;
    margin:1vh;
}
.specialstudents{
    grid-area:specialstudents;
    padding:1vh;
    margin:1vh;
}
