#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main{
    grid-area: main;
    display: grid;
    grid-template-areas: "hero" "purpose" "qualifications" "application" "graduation" "scope" "credits";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "hero hero" "purpose purpose" "qualifications qualifications" "application application" "graduation graduation" "scope scope" "credits credits";
    }

}

@media(min-width: 799.3px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "hero hero" "purpose purpose" "qualifications qualifications" "application application" "graduation graduation" "scope scope" "credits credits";
    }

}

@media(min-width: 1259.3px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "hero hero" "purpose purpose" "qualifications qualifications" "application application" "graduation graduation" "scope scope" "credits credits";
    }
}
.purpose{
    grid-area:purpose;
    padding:3vh;
}
.qualifications{
    grid-area:qualifications;
    padding:3vh;
}
.testimonies{
    grid-area:testimonies;
    padding:3vh;
}
.application{
    grid-area:application;
    padding:3vh;
}
.graduation{
    grid-area:graduation;
    padding:3vh;
}
.scope{
    grid-area:scope;
    padding:3vh;
}
.credits{
    grid-area:credits;
    padding:3vh;
}
.hero{
    grid-area:hero;
}
