:root{
  --main-text-color: #fff;
  --secondary-text-color: #9aa0a6;
  --main-background-color: #202124;
  --main-highlight-color: #021f4e;
  --main-link-color: #033277;
  --main-artistic-color: #dcc582;
  --secondary-artistic-color: #b48f52;
  --darker-artistic-color: #70624f;
  --menu-cover: rgba(0,0,0,.5);
  --main-hover-color: rgba(255,255,255,.1);
  --secondary-background-color: #303134;
  --text-over-image-background-color: rgba(0,0,0,.7);
  --cards-border-color:rgba(49,51,53,.5);
  --cards-shadow-color:rgba(0, 0, 0, .3);
  --main-attention-color: #fe8d59;
  --main-grey-color: #303134;
  --secondary-grey-color: #4d5156;
  --header-background-color: rgba(32,33,36,0.9);
  --text-on-background: #fff;
  --text-shadow-on-background: #000;
}
