:root{
  --main-text-font: "Times New Roman",Georgia,"宋体",SimSun,sans-serif;
  --main-text-font-size: 17px;
  --header-text-font: "Times New Roman",Georgia,FZKai,FangSong,serif;
}
@font-face{
  font-family: 'FZKai';
  src:url('https://logosfx.org/FZKai-Z03S.woff2');
}
html{
  font-weight:400;
  font-family:var(--main-text-font);
  font-size:var(--main-text-font-size);
}
body {
  color:var(--main-text-color);
  text-align: left;
  direction: ltr
}
a {
  text-decoration: none;
  cursor: pointer;
  color:var(--main-link-color);
  white-space:nowrap;
}
a:not(.disabled)hover{
  color:var(--main-highlight-color);
}
@keyframes loadingunblur{
    0% {
      filter: blur(4px);
    }
    100% {
      filter: blur(2px);
    }
}
h1{
  font-family:var(--header-text-font);
  filter:blur(4px);
  transition: filter 0.3s ease-out;
  animation: loadingunblur ease-in 4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
  font-size:calc(2*var(--main-text-font-size));
  margin-top:1em;
  margin-bottom:1em;
  display:flex;
  justify-content:center;
}
h2{
  font-family:var(--header-text-font);
  filter:blur(4px);
  transition: filter 0.3s ease-out;
  animation: loadingunblur ease-in 4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
  font-size:calc(1.5*var(--main-text-font-size));
  margin-top:1em;
  margin-bottom:1em;
}
h3{
  font-family:var(--header-text-font);
  filter:blur(4px);
  transition: filter 0.3s ease-out;
  animation: loadingunblur ease-in 4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
  font-size:calc(1.2*var(--main-text-font-size));
  margin-top:1em;
  margin-bottom:1em;
}
.headings-font{
  font-family:var(--header-text-font);
  filter:blur(4px);
  transition: filter 0.3s ease-out;
  animation: loadingunblur ease-in 4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
.unblur{
  filter:blur(0px) !important;
}
p{
  margin-top:1em;
  margin-bottom:1em;
}
input, textarea{
  font-weight:400;
  font-family:var(--main-text-font);
  font-size:calc(0.9*var(--main-text-font-size));
}
footer{
  font-weight:400;
  font-family:var(--main-text-font);
  font-size:calc(0.75*var(--main-text-font-size));
  position:relative;
  z-index:6;
  background:var(--main-background-color);
  margin: 0 auto;
}
@media (min-width: 320px) {
  html {
    font-size:calc(var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
  h1 {
    font-size:calc(2*var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
  h2 {
    font-size:calc(1.5*var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
  h3 {
    font-size:calc(1.2*var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
  input, textarea {
    font-size:calc(0.9*var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
  footer {
    font-size:calc(0.8*var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
}
.footer-links a{
  color:var(--secondary-text-color);
  opacity: 0.7;
}
.footer-links a:hover{
  text-decoration:underline;
}
.footer-links:first-child{
  color:var(--main-text-color);
  font-weight:700;
}
.stretch {
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    transform: scaleX(0.94);
}
@keyframes scalestretch{
    0% {
      transform: scaleX(0.94);
    }
    100% {
      transform: scaleX(1);
    }
}
