
:root{
  --header-height: 80px;
}
header{
  display:flex;
  justify-content:space-between;
  position:sticky;
  top:0;
  font-family:var(--main-text-font);
  color:var(--main-text-color);
  z-index:7;
  height: var(--header-height);
  background:transparent;
}
.blur{
  background:var(--header-background-color);
  position: absolute;
  width: 100vw;
  height: calc(var(--header-height)*1.1);
  filter: blur(1px);
  top: -7px;
  z-index: -1;
}
.menu{
  display:flex;
  justify-content:flex-start;
}
.menu-display{
  display:none;
}
.logo{
  font-size:30px;
  margin: 0px 20px;
  display: none;
  max-height: var(--header-height);
}

.logo-wrap{
  height: var(--header-height);
}

.logo img {
  height:100%;
}

nav{
  display:flex;
  background:transparent;
}
.menu-item{
  display:block;
  position:relative;
}
.menu-item a{
  display: block;
  padding: 29.1px;
  transition: 1s border-bottom ease-out;
}
.activepage {
  border-bottom: 3px var(--main-link-color) solid;
}
.menu-item::after{
  content:"";
  display:block;
  background-color:var(--main-link-color);
  width: 0px;
  height: 3px;
  transform:translate(0px,-6px);
  transition: 0.25s width ease-out;
}
.menu-item:hover:after {
  width:100%;
}
.site-buttons {
  display: flex;
  flex-flow: row nowrap;
  height: var(--header-height);
  align-items: center
}
.button {
  font-weight: 600;
  background: var(--main-link-color);
  text-transform: uppercase;
  padding: .8em 1em;
  border: 0;
  cursor: pointer;
  text-align: center;
  align-content:center;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  border-radius: 20px 3px;
  box-shadow: 0 2px 6px 0 var(--cards-shadow-color), inset 0 0 0 0 var(--cards-border-color);
  transition: all 150ms
}
.colorbutton{
    color:var(--text-on-background);
}
.site-buttons .signin {
  margin: 0 1rem;
  transition: none;
  background: 0 0;
  box-shadow: none;
  opacity:0;
  transition: opacity 0.25s ease-in-out;
}
.site-buttons .opaque {
  opacity:1;
}
.button:not(.disabled):hover {
  color: #fff;
  background: var(--main-highlight-color);
}
.uncolored:not(.disabled):hover {
  background:var(--main-hover-color);
}
.maincolor{
  color:var(--main-text-color);
}
.maincolor:not(.disabled):hover {
  color:var(--main-text-color);
}
@keyframes menustretch{
    0% {
      transform: scaleX(0.96);
      left:-1vw;
    }
    100% {
      transform: scaleX(1);
      left:0;
    }
}
@media (max-width: 980px) {
  nav {
    display:none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    height:150vh;
    z-index: 9;
    flex-flow: column;
    width: 50%;
    border-radius: 0px 3px 20px 0px;
    animation: menustretch ease-out 0.3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    background:var(--header-background-color);
    backdrop-filter:blur(4px);
  }

  .menu-display:checked~#nav{
    display: flex
  }

  .menu-display:checked~.menu-icon {
    position: fixed;
    background:var(--header-background-color)
  }

  .menu-cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:150vh;
    background:var(--menu-cover);
    z-index: 8;
    display:none;
  }

  .menu-display:checked~.menu-cover {
    display: block;
    animation: fadein ease-out 0.3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
  }

@keyframes fadein{
    0% {
      opacity:0
    }
    100% {
      opacity:1
    }
}
  .menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--header-height);
    height: var(--header-height);
    cursor: pointer;
    z-index: 9
  }

  .logo {
    margin-left: calc(100vw/2 - 55px);
  }

  .menu-bars,.menu-bars::after,.menu-bars::before {
    background-color:var(--main-text-color);
    width: 40px;
    height: 3px;
    position: absolute
  }

  .menu-bars {
    left: 20px;
    top: 50%;
    transition: transform 0.9s ease-out;
  }

  .menu-bars::after,.menu-bars::before {
    content: "";
    top: -12px
  }

  body.d .menu-bars,body.d .menu-bars::after,body.d .menu-bars::before {
    background-color:var(--main-highlight-color)
  }

  .menu-bars::after {
    top: 12px
  }

  .menu-display:checked~.menu-icon .menu-bars {
    transform: rotate(135deg)
  }

  .menu-display:checked~.menu-icon .menu-bars::before {
    top: 0
  }

  .menu-display:checked~.menu-icon .menu-bars::after {
    transform: rotate(90deg);
    top: 0;
    bottom: 0
  }
}
@media (min-width: 270px){
  .logo{
    display: block;
  }
}
.uncolored{
  background: var(--main-background-color);
}
.sub-menu{
  display:none;
  opacity:0;
  width:100%;
  background: var(--main-background-color)
}
.menu-item:hover + .sub-menu{
  display:block;
  animation: appear ease-out 0.4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
@keyframes appear{
    0% {
      opacity:0
    }
    100% {
      opacity:0.98
    }
}
.sub-menu-grid{
  display:grid;
}
@media(min-width: 499.3px) {
  .sub-menu{
  
  }
  .sub-menu-grid{
    grid-template-areas: "column1" "column2" "column3" "column4" "column5";
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(5, auto);
  }
}
@media(min-width: 799.3px) {
  .sub-menu{
    position:fixed;
    top:var(--header-height);
    left:0;
  }
  .sub-menu-grid{
    grid-template-areas: "column1 column2 column3 column4 column5";
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(1, auto);
  }
}
@media(min-width: 1259.3px) {
  .sub-menu{
    position:fixed;
    top:var(--header-height);
    left:0;
  }
  .sub-menu-grid{
    grid-template-areas: "column1 column2 column3 column4 column5";
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(1, auto);
  }
}
.column1{
  grid-area:column1;
  margin:15px 20px 0px 20px;
}
.sub-column1{
  display:none;
  opacity:0;
  margin:5px 20px;
}
.column1:hover + .sub-column1{
  display:block;
  animation: fadein ease-out 0.4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
@media(min-width: 499.3px) {
  .sub-column1{
    display:none;
    opacity:0;
  }
}
@media(min-width: 799.3px) {
  .sub-column1{
    display:block;
    opacity:1;
    animation: none;
  }
}
@media(min-width: 1259.3px) {
  .sub-column1{
    display:block;
    opacity:1;
    animation: none;
  }
}
.column2{
  grid-area:column2;
  margin:15px 20px 0px 20px;
}
.sub-column2{
  display:none;
  opacity:0;
  margin:5px 20px;
}
.column2:hover + .sub-column2{
  display:block;
  animation: fadein ease-out 0.4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
@media(min-width: 499.3px) {
  .sub-column2{
    display:none;
    opacity:0;
  }
}
@media(min-width: 799.3px) {
  .sub-column2{
    display:block;
    opacity:1;
    animation: none;
  }
}
@media(min-width: 1259.3px) {
  .sub-column2{
    display:block;
    opacity:1;
    animation: none;
  }
}
.column3{
  grid-area:column3;
  margin:15px 20px 0px 20px;
}
.sub-column3{
  display:none;
  opacity:0;
  margin:5px 20px;
}
.column3:hover + .sub-column3{
  display:block;
  animation: fadein ease-out 0.4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
@media(min-width: 499.3px) {
  .sub-column3{
    display:none;
    opacity:0;
  }
}
@media(min-width: 799.3px) {
  .sub-column3{
    display:block;
    opacity:1;
    animation: none;
  }
}
@media(min-width: 1259.3px) {
  .sub-column3{
    display:block;
    opacity:1;
    animation: none;
  }
}
.column4{
  grid-area:column4;
  margin:15px 20px 0px 20px;
}
.sub-column4{
  display:none;
  opacity:0;
  margin:5px 20px;
}
.column4:hover + .sub-column4{
  display:block;
  animation: fadein ease-out 0.4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
@media(min-width: 499.3px) {
  .sub-column4{
    display:none;
    opacity:0;
  }
}
@media(min-width: 799.3px) {
  .sub-column4{
    display:block;
    opacity:1;
    animation: none;
  }
}
@media(min-width: 1259.3px) {
  .sub-column4{
    display:block;
    opacity:1;
    animation: none;
  }
}
.column5{
  grid-area:column5;
  margin:15px 20px 0px 20px;
}
.sub-column5{
  display:none;
  opacity:0;
  margin:5px 20px;
}
.column5:hover + .sub-column5{
  display:block;
  animation: fadein ease-out 0.4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
@media(min-width: 499.3px) {
  .sub-column5{
    display:none;
    opacity:0;
  }
}
@media(min-width: 799.3px) {
  .sub-column5{
    display:block;
    opacity:1;
    animation: none;
  }
}
@media(min-width: 1259.3px) {
  .sub-column5{
    display:block;
    opacity:1;
    animation: none;
  }
}
