#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.home {
    grid-area: main;
    display: grid;
    grid-template-areas: "cards";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .home {
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: ". cards .";
    }

}

@media(min-width: 799.3px) {
    .home {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: repeat(2, fit-content(0)) fit-content(0) auto;
        grid-template-areas: ". cards .";
    }

}

@media(min-width: 1259.3px) {
    .home {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". cards cards .";
    }
}

.cards {
    grid-area: cards;
}

.home-card-wrap {
    display: grid;
    grid-template-areas:
        ". home-card ."
        ". button .";
    padding: 2vh;
    margin: 2vh;
    border: solid;
    border-color: var(--cards-border-color);
    border-radius: 20px 3px;
    box-shadow: 0 2px 6px 0 var(--cards-shadow-color), inset 0 -1px 0 0 var(--cards-border-color);
    border-width: 1px;
}

.button-area {
    grid-area: button;
}

.home-card {
    grid-area: home-card;
}
.application-buttons{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.exclamation-bubble-anchor {
    position: relative;
    width: 100%;
    height: 0;
}
.exclamation-bubble {
    transform: translate(18px,-18px);
    width: 32px;
    height: 32px;
    font-size: 27px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 2;
    background: var(--main-attention-color);
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.hidden{
    display:none;
}
.button-wrap {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
