#main-wrap {
    display: grid;
    grid-template-areas: "main main main main main";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "seminary" "purpose" "teachers" "fellowship";
    grid-template-rows: repeat(3, fit-content(0)) auto;
}

@media(min-width: 499.3px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, fit-content(0)) auto;
        grid-template-areas: "seminary seminary" "purpose purpose" "teachers teachers" "fellowship fellowship";
    }

}

@media(min-width: 799.3px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: "seminary seminary seminary" "purpose purpose purpose" "teachers teachers teachers" "fellowship fellowship fellowship";
    }
}

@media(min-width: 1259.3px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: "seminary seminary seminary seminary" "purpose purpose purpose purpose" "teachers teachers teachers teachers" "fellowship fellowship fellowship fellowship";
    }
}

@keyframes scalestretch{
    0% {
      transform: scaleX(0.94);
    }
    100% {
      transform: scaleX(1);
    }
}

.seminary{
    grid-area:seminary;
    min-height:80vh;
    display: grid;
    grid-template-areas: "spacer" "call" "apply";
    grid-template-rows: repeat(3, fit-content(0)) auto;
    background:linear-gradient(199deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7)), url(/images/ceremony.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 70% 50%/7%;
}

@media(min-width: 499.3px) {
    .seminary{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, fit-content(0)) auto;
        grid-template-areas: "spacer spacer" "call call" "apply apply";
    }

}

@media(min-width: 799.3px) {
    .seminary{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: "spacer spacer spacer" "call call ." ". . apply";
    }
}

@media(min-width: 1259.3px) {
    .seminary {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas:  "spacer spacer spacer spacer" "call call call ." ". . . apply";
    }
}

.spacer{
    grid-area:spacer;
    height:55vh;
}
.call {
    grid-area:call;
    font-size: 34px;
    font-weight: bold;
    color:var(--text-on-background);
    display: flex;
    justify-content: center;
    font-family: var(--header-text-font);
    padding-bottom:3vh;
    padding-top:5vh;
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94)
}
@media(min-width: 799.3px) {
    .call {
        padding-bottom:2vh;
        font-size:44px;
    }
}
.apply {
    grid-area:apply;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    max-height: 3em;
    animation-delay:4s;
    transform: scaleX(0.94)
}
.purpose{
    grid-area:purpose;
    min-height:max(50vw,70vh);
    display: grid;
    grid-template-areas: "purpose-title" "purpose-subtitle" "purpose-photo-wrap";
    grid-template-rows: repeat(2, fit-content(0)) auto;
}
@media(min-width: 499.3px) {
    .purpose{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "purpose-title purpose-title" "purpose-subtitle purpose-subtitle" "purpose-photo-wrap purpose-photo-wrap";
    }

}

@media(min-width: 799.3px) {
    .purpose {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "purpose-title purpose-title purpose-title" "purpose-subtitle purpose-subtitle purpose-subtitle" ". purpose-photo-wrap .";
    }
}

@media(min-width: 1259.3px) {
    .purpose {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "purpose-title purpose-title purpose-title purpose-title" "purpose-subtitle purpose-subtitle purpose-subtitle purpose-subtitle" ". purpose-photo-wrap purpose-photo-wrap .";
    }
}
.purpose-title{
    grid-area: purpose-title;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: var(--header-text-font);
    padding-top:max(7vh,7vw);
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94)
}
.purpose-subtitle{
    grid-area: purpose-subtitle;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: var(--header-text-font);
    padding-top:max(2vh,2vw);
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94)
}
@media(min-width: 799.3px) {
    .purpose-title {
        font-size:34px;
    }
    .purpose-subtitle {
        font-size:24px;
    }
}
.purpose-photo-wrap{
    grid-area: purpose-photo-wrap;
    display: flex;
    justify-content: center;
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94);
    margin-top: max(5vh,5vw);
}
.purpose-photo{
    height: min(80vw,43vh);
    width: 93%;
    border-radius: 40px 7px;
    background:url(/images/purpose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 12px 6px 0 var(--cards-shadow-color), inset -1px -1px 0 0 var(--cards-border-color);
}
.teachers{
    grid-area:teachers;
    min-height:max(70vh,50vw);
    background-color: var(--secondary-background-color);
    display: grid;
    grid-template-areas: "teachers-title" "teachers-subtitle" "teachers-photo-wrap";
    grid-template-rows: repeat(2, fit-content(0)) auto;
    border-radius: 31% 71%/11%;
}

@media(min-width: 499.3px) {
    .teachers{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "teachers-title teachers-title" "teachers-subtitle teachers-subtitle" "teachers-photo-wrap teachers-photo-wrap";
    }

}

@media(min-width: 799.3px) {
    .teachers {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "teachers-title teachers-title teachers-title" "teachers-subtitle teachers-subtitle teachers-subtitle" ". teachers-photo-wrap .";
    }
}

@media(min-width: 1259.3px) {
    .teachers {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "teachers-title teachers-title teachers-title teachers-title" "teachers-subtitle teachers-subtitle teachers-subtitle teachers-subtitle" ". teachers-photo-wrap teachers-photo-wrap .";
    }
}
.teachers-title{
    grid-area: teachers-title;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: var(--header-text-font);
    padding-top:max(5vh,5vw);
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94)
}
.teachers-subtitle{
    grid-area: teachers-subtitle;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: var(--header-text-font);
    padding-top:max(2vh,2vw);
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94)
}
@media(min-width: 799.3px) {
    .teachers-title {
        font-size:34px;
    }
    .teachers-subtitle {
        font-size:24px;
    }
}
.teachers-photo-wrap{
    grid-area: teachers-photo-wrap;
    display: flex;
    justify-content: center;
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94);
    margin-top: max(5vh,5vw);
}
.teachers-photo{
    height: min(80vw,43vh);
    width: min(80vw,43vh);
    border-radius: 50%;
    background:url(/images/teachers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 12px 6px 0 var(--cards-shadow-color), inset -1px -1px 0 0 var(--cards-border-color);
}
.fellowship{
    grid-area:fellowship;
    min-height:max(50vw,70vh);
    display: grid;
    grid-template-areas: "fellowship-title" "fellowship-subtitle" "fellowship-photo-wrap";
    grid-template-rows: repeat(2, fit-content(0)) auto;
}
@media(min-width: 499.3px) {
    .fellowship{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "fellowship-title fellowship-title" "fellowship-subtitle fellowship-subtitle" "fellowship-photo-wrap fellowship-photo-wrap";
    }

}

@media(min-width: 799.3px) {
    .fellowship {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "fellowship-title fellowship-title fellowship-title" "fellowship-subtitle fellowship-subtitle fellowship-subtitle" "fellowship-photo-wrap fellowship-photo-wrap fellowship-photo-wrap";
    }
}

@media(min-width: 1259.3px) {
    .fellowship {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "fellowship-title fellowship-title fellowship-title fellowship-title" "fellowship-subtitle fellowship-subtitle fellowship-subtitle fellowship-subtitle" "fellowship-photo-wrap fellowship-photo-wrap fellowship-photo-wrap fellowship-photo-wrap";
    }
}
.fellowship-title{
    grid-area: fellowship-title;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: var(--header-text-font);
    padding-top:max(7vh,7vw);
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94)
}
.fellowship-subtitle{
    grid-area: fellowship-subtitle;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: var(--header-text-font);
    padding-top:max(2vh,2vw);
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94)
}
@media(min-width: 799.3px) {
    .fellowship-title {
        font-size:34px;
    }
    .fellowship-subtitle {
        font-size:24px;
    }
}
.fellowship-photo-wrap{
    grid-area: fellowship-photo-wrap;
    display: flex;
    justify-content: center;
    animation: scalestretch ease-out 3s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-delay:4s;
    transform: scaleX(0.94);
    margin-top: max(5vh,5vw);
}
.fellowship1-photo{
    height: min(80vw,43vh);
    width: 119%;
    transform: rotate(-15deg);
    border-radius: 40px 7px;
    background:url(/images/fellowship1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 12px 6px 0 var(--cards-shadow-color), inset -1px -1px 0 0 var(--cards-border-color);
}
.fellowship2-photo{
    height: min(80vw,43vh);
    width: 200%;
    border-radius: 40px 7px;
    background:url(/images/fellowship2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 12px 6px 0 var(--cards-shadow-color), inset -1px -1px 0 0 var(--cards-border-color);
}
.fellowship3-photo{
    height: min(80vw,43vh);
    width: 120%;
    transform: rotate(12deg);
    border-radius: 40px 7px;
    background:url(/images/fellowship3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 12px 6px 0 var(--cards-shadow-color), inset -1px -1px 0 0 var(--cards-border-color);
}

.logoscreen{
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    position:fixed;
    background-color:var(--main-background-color);
    z-index:14;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 16;
    border-radius: 50%;
    background-color: var(--main-background-color);
    height: 320px;
    width: 320px;
    transform: translateY(0px);
    transition: all 2s ease-in-out;
}
.logo-uncover-left {
    transform: translate(-350px,350px);
    border-radius: 0%;
    width: 350px;
    height: 350px;
}
.logo-uncover-right {
    transform: translate(350px,350px);
    border-radius: 0%;
    width: 350px;
    height: 350px;
}
.logoscreen-logo {
    position: relative;
    z-index: 15;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoscreen-logo img {
    height: 100%;
    width: 100%;
}
