:root{
    --main-max-width: 1300px;
    --main-margin: 1vw;
    --main-max-width: 1400px;
    --site-header-margin: 0px;
    --footer-height: 180px;
    --ui-button-height: 60px;
}
*,::after,::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}
body {
  background-color:var(--main-background-color);
  margin:0;
  overflow-x:hidden;
}
html{
  min-height:100%;
  box-sizing:border-box;
}
#main-wrap {
  min-height: calc(100vh - (var(--footer-height) + var(--header-height)));
}
.about{
  display:grid;
  grid-template-areas: "footer-courses" "footer-aboutus" "footer-privacy" "footer-copyright";
  grid-template-columns: repeat(1,auto);
  grid-template-rows: repeat(4, auto);
  height: var(--footer-height);
  max-width: 1800px;
  padding: 5px;
  margin-top: 3vh;
  border-top: solid 1px var(--main-grey-color);
}
@media(min-width: 499.3px) {
    grid-template-areas: "footer-courses footer-courses" "footer-aboutus footer-privacy" "footer-copyright footer-copyright";
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3, auto);
}
@media(min-width: 799.3px) {
  .about{
    grid-template-areas: "footer-courses footer-aboutus footer-privacy" "footer-copyright footer-copyright footer-copyright";
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2, auto);
  }
}
@media(min-width: 1259.3px) {
  .about{
    grid-template-areas: "footer-courses footer-aboutus footer-privacy" "footer-copyright footer-copyright footer-copyright";
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2, auto);
  }
}
.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area:footer-copyright;
}
.footer-privacy {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area:footer-privacy;
}
.footer-courses{
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area:footer-courses;
}
.footer-aboutus {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area:footer-aboutus;
}
.cover {
    position: fixed;
    top: -200vh;
    left: -200vw;
    height: 400vh;
    width: 400vw;
    background: var(--main-background-color);
    z-index: 4;
    display: block;
    overflow: hidden;
    transform: rotate(-29deg);
    transition: all 1.5s cubic-bezier(1, 0.24, 0.58, 1);
    box-shadow: 14vw 2px 7px 7px var(--cards-shadow-color), inset 0 -1px 4vw 4vw var(--cards-border-color);
}
.uncover {
    width: 0;
    height: 1200vh;
    box-shadow: 1vw 2px 7px 7px var(--cards-shadow-color), inset 0 -1px 4vw 4vw var(--cards-border-color);
}
.flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
