:root{
  --main-text-color: #000;
  --secondary-text-color: #474747;
  --main-background-color: #fff;
  --main-highlight-color: #021f4e;
  --main-link-color: #033277;
  --main-artistic-color: #dcc582;
  --secondary-artistic-color: #b48f52;
  --darker-artistic-color: #70624f;
  --menu-cover: rgba(0,0,0,.5);
  --main-hover-color: rgba(32,33,36,.1);
  --secondary-background-color: #f8f9fa;
  --text-over-image-background-color: rgba(255,255,255,.7);
  --cards-border-color: rgba(218,220,224,.5);
  --cards-shadow-color:rgba(0,0,0,.12);
  --main-attention-color: #e94235;
  --main-grey-color: #f8f9fa;
  --secondary-grey-color: #ecedef;
  --header-background-color: #fff;
  --text-on-background: #fff;
  --text-shadow-on-background: #000;
}
