#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.login {
    grid-area: main;
    display: grid;
    grid-template-areas: "title" "form";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .login {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "title title" "form form";
    }

}

@media(min-width: 799.3px) {
    .login {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". title ." ". form .";
    }

}

@media(min-width: 1259.3px) {
    .login {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". title title ." ". form form .";
    }
}
.title{
    grid-area:title;
    padding:3vh;
}
.form{
    grid-area:form;
    padding:3vh;
}

.alternative {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: .9em;
    line-height: 2em;
    gap: 1em
}
