#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.login {
    grid-area: main;
    display: grid;
    grid-template-areas: "hero" "form";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .login {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "hero hero" "form form";
    }

}

@media(min-width: 799.3px) {
    .login {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". hero ." ". form .";
    }

}

@media(min-width: 1259.3px) {
    .login {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: ". hero hero ." ". form form .";
    }
}
.hero{
    grid-area:hero;
    padding:2vh;
}
.form{
    grid-area:form;
    padding:2vh;
}

.alternative {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: .9em;
    line-height: 2em;
    gap: 1em
}
