#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main{
    grid-area: main;
    display: grid;
    grid-template-areas: "hero" "photos";
    grid-gap: 2vmin
}

.photos{
    grid-area:photos;
}
.photos-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vmin
}
@media(min-width: 499.3px) {
    .photos-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 799.3px) {
    .photos-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width: 1259.3px) {
    .photos-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.photo-wrap{
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0 2px 6px 0 var(--cards-shadow-color), inset 0 -1px 0 0 var(--cards-border-color);
    border-radius: 20px 3px;
    overflow:hidden;
}
.photo-wrap img{
    position:relative;
    width: 100%;
    height: auto;
    aspect-ratio:3/2;
    border-radius: 20px 3px;
}
.photo-wrap img:hover {
    transform: scale(1.04);
    transition: transform 0.4s ease-in-out;
}
.hero{
    grid-area:hero;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-display{
  display:flex;
}
.modal-photo-wrap{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  border-radius: 20px 3px;
  overflow:hidden;
  width:100vw;
}
#modal-photo{
  width:100%
}
@media(min-width: 799.3px) {
  .modal-photo-wrap{
    width:80vw;
  }
}
.photo{
    display:none;
}
.photo-display{
    display:block;
    animation: appear ease-in-out 0.2s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}
@keyframes appear{
    0% {
      opacity: 0px;
    }
    100% {
      opacity: 100%;
    }
}
