#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main{
    grid-area: main;
    display: grid;
    grid-template-areas: "title" "technicaldata" "personaldata" "dataprotection";
    grid-gap: 1vmin
}

@media(min-width: 499.3px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "title title" "technicaldata technicaldata" "personaldata personaldata" "dataprotection dataprotection";
    }

}
.hero{
    grid-area:hero;
}
.technicaldata{
    grid-area:technicaldata;
    padding: 1vh;
    margin: 1vh;
}
.testimonies{
    grid-area:testimonies;
    padding: 1vh;
    margin: 1vh;
}
.personaldata{
    grid-area:personaldata;
    padding: 1vh;
    margin: 1vh;
}
.dataprotection{
    grid-area:dataprotection;
    padding: 1vh;
    margin: 1vh;
}
