#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.apply {
    grid-area: main;
    display: grid;
    grid-template-areas: "title" "description" "form";
    grid-gap: 2vmin;
    grid-template-rows: repeat(3, fit-content(0)) auto;
}

@media(min-width: 499.3px) {
    .apply {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, fit-content(0)) auto;
        grid-template-areas: "title title" "description description" "form form";
    }

}

@media(min-width: 799.3px) {
    .apply {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". title ." ". description ." ". form .";
    }

}

@media(min-width: 1259.3px) {
    .apply {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". title title ." ". description description ." ". form form .";
    }
}
.title{
    grid-area:title;
    padding:3vh;
}
.description{
    grid-area:description;
    padding:1vh 3vh;
}
.form{
    grid-area:form;
    padding:3vh;
}
