#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "title" "description" "part1" "part2" "part3" "part4" "part5" "form";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "title title" "description description" "part1 part1" "part2 part2" "part3 part3" "part4 part4" "part5 part5" "form form";
    }

}

@media(min-width: 799.3px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". title ." ". description ." ". part1 ." ". part2 ." ". part3 ." ". part4 ." ". part5 ." ". form .";
    }

}

@media(min-width: 1259.3px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". title title ." ". description description ." ". part1 part1 ." ". part2 part2 ." ". part3 part3 ." ". part4 part4 ." ". part5 part5 ." ". form form .";
    }
}
.title{
    grid-area:title;
    padding:1vh;
}
.description{
    grid-area:description;
    padding:1vh;
}
.part1{
    grid-area:part1;
    padding:1vh;
}
.part2{
    grid-area:part2;
    padding:1vh;
}
.part3{
    grid-area:part3;
    padding:1vh;
}
.part4{
    grid-area:part4;
    padding:1vh;
}
.part5{
    grid-area:part5;
    padding:1vh;
}
.form{
    grid-area:form;
    padding:1vh;
}
.part-title{
    padding-top:1vh;
    padding-bottom:1vh;
}
.part-content{
    padding-top:1vh;
    padding-bottom:1vh;
}
.part-edit{
    padding-top:1vh;
    padding-bottom:1vh;
}
.flex-wrap{
    display:flex;
    white-space:nowrap;
    flex-wrap:wrap;
}
.hidden{
    display:none;
}
.circle-around-anchor {
    position: relative;
    width: 100%;
    height: 0;
}
.circle-around {
    transform: translate(18px,-18px);
    width: 115%;
    height: 32px;
    border: solid var(--main-attention-color) 1px;
    position: absolute;
    top: 29px;
    right: 15px;
    z-index: 11;
    border-radius: 50%;
}
.separator-slash{
    padding-left:4px;
    padding-right:4px;
}
