#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.contact {
    grid-area: main;
    display: grid;
    grid-template-areas: "email" "about";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .contact {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "email email" "about about";
    }

}

@media(min-width: 799.3px) {
    .contact {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: "email email email" "about about about";
    }

}

@media(min-width: 1259.3px) {
    .contact {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". email email ." ". about about .";
    }
}
.email{
    grid-area:email;
    padding:3vh;
}
.phone{
    grid-area:phone;
    padding:3vh;
}
.about{
    grid-area:about;
    margin-top:50vh;
}
