#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.course {
    grid-area: main;
    display: grid;
    grid-template-areas: "purpose" "qualifications" "application" "graduation" "scope" "about";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .course {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "purpose purpose" "qualifications qualifications" "application application" "graduation graduation" "scope scope" "about about";
    }

}

@media(min-width: 799.3px) {
    .course {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". purpose ." ". qualifications ." ". application ." ". graduation ." ". scope ." "about about about";
    }

}

@media(min-width: 1259.3px) {
    .course {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". purpose purpose ." ". qualifications qualifications ." ". application application ." ". graduation graduation ." ". scope scope ." ". about about .";
    }
}
.purpose{
    grid-area:purpose;
}
.qualifications{
    grid-area:qualifications;
}
.testimonies{
    grid-area:testimonies;
}
.application{
    grid-area:application;
}
.graduation{
    grid-area:graduation;
}
.scope{
    grid-area:scope;
}
.about{
    grid-area:about;
    margin-top:7em;
}
.title{
    grid-area:title;
    padding:3vh;
}
