:root{
  --main-text-color: #fff;
  --main-background-color: #202124;
  --main-highlight-color: #1b66c9;
  --main-link-color: #1a73e8;
  --menu-cover: rgba(0,0,0,.5);
  --main-hover-color: rgba(255,255,255,.1);
  --secondary-background-color: #303134;
}
