:root{
  --main-text-font: "Times New Roman",Georgia,Garamond,"宋体",SimSun,serif;
  --main-text-font-size: 24px;
  --header-text-font: "Times New Roman",Georgia,Garamond,FZKai,FangSong,serif;
}
@font-face{
  font-family: 'FZKai';
  src:url('https://dev.logosfx.org/FZKai-Z03S.woff2');
}
html{
  font-weight:400;
  font-family:var(--main-text-font);
  font-size:var(--main-text-font-size);
}
body {
  color:var(--main-text-color);
  text-align: left;
  direction: ltr
}
a {
  text-decoration: none;
  cursor: pointer;
  color:var(--main-link-color);
  white-space:nowrap;
}
a:hover{
  color:var(--main-highlight-color);
}
@media (min-width: 320px) {
  html {
    font-size:calc(var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
}
h1{
  font-family:var(--header-text-font);
  font-size:calc(2*var(--main-text-font-size));
  margin-top:2em;
  margin-bottom:1em;
  display:flex;
  justify-content:center;
}
h2{
  font-family:var(--header-text-font);
  font-size:calc(1.5*var(--main-text-font-size));
  margin-top:1em;
  margin-bottom:1em;
}
h3{
  font-family:var(--header-text-font);
  font-size:calc(1.2*var(--main-text-font-size));
  margin-top:1em;
  margin-bottom:1em;
}
p{
  margin-top:1em;
  margin-bottom:1em;
}
input{
  font-weight:400;
  font-family:var(--main-text-font);
  font-size:calc(0.9*var(--main-text-font-size));
}
