:root{
  --main-text-font: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
  --main-text-font-size: 16px;
  --header-text-font: "宋体";
}
html{
  font-weight:400;
  font-family:var(--main-text-font);
  font-size:var(--main-text-font-size);
}
body {
  color:var(--main-text-color);
  text-align: left;
  direction: ltr
}
a {
  text-decoration: none;
  cursor: pointer;
  color:var(--main-link-color);
}
@media (min-width: 320px) {
  html {
    font-size:calc(var(--main-text-font-size) + 2*((100vw - 320px)/880))
  }
}
h1{
  font-family:var(--header-text-font);
  font-size:2em;
  margin-top:2em;
  margin-bottom:1em;
  display:flex;
  justify-content:center;
}
h2{
  font-family:var(--header-text-font);
  font-size:1.5em;
  margin-top:1em;
  margin-bottom:1em;
}
h3{
  font-family:var(--header-text-font);
  font-size:1.2em;
  margin-top:1em;
  margin-bottom:1em;
}
