.form-group{
    margin-bottom:2rem;
}
.form-label {
    cursor: text;
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:1em;
}
.form-check label {
    margin-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.7em + 2px);
    padding: 8px 12px;
    background-clip: padding-box;
}
.form-control:invalid, {
    border-color: #fc0;
}
.form-check div {
    display: flex;
    cursor: pointer;
} 
.form-check input {
    cursor: pointer;
}
.form-check label {
    cursor: pointer;
}
.form-check-input {
    margin-right: .5rem;
}
.form-help,.password-complexity-label {
    color:var(--secondary-text-color);
    font-size: 90%;
    margin-top: .25rem;
    unicode-bidi: plaintext
}
.password-complexity-meter {
    display: flex;
    grid-gap: .25rem;
    height: .4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.password-complexity-meter>* {
    background-color:var(--secondary-text-color);
    width: 25%
}

@media (min-width: 320px) {
    .box {
        --box-padding:calc( 15px + 45 * ((100vw - 320px) / 880) )
    }
}

.box {
    --box-padding: 15px
}

@media (min-width: 320px) {
    .box {
        --box-padding:calc( 15px + 45 * ((100vw - 320px) / 880) )
    }
}
.form{
    width: 100%;
    margin: auto
}

@media (min-width: 649.3px) {
    .form{
        width:40em
    }
}

@media (min-width: 499.3px) {
    .form{
        width:30em;
    }
}
.submit{
    width:100%;
    font-size:1em;
    font-weight:400;
}
.disabled {
    background: var(--main-grey-color);
}
