#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.home {
    grid-area: main;
    display: grid;
    grid-template-areas: "cards" "about";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .home {
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas:
            ". cards ."
            "about about about";
    }

}

@media(min-width: 799.3px) {
    .home {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". cards ." "about about about";
    }

}

@media(min-width: 1259.3px) {
    .home {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". cards cards ." ". about about .";
    }
}

.cards {
    grid-area: cards;
}

.home-card-wrap {
    display: grid;
    grid-template-areas:
        ". home-card ."
        ". button .";
    padding: 2vh;
    margin: 2vh;
    border: solid;
    border-color: var(--cards-border-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 var(--cards-shadow-color), inset 0 -1px 0 0 var(--cards-border-color);
    border-width: 1px;
}

.button-area {
    grid-area: button;
}

.home-card {
    grid-area: home-card;
}

.about{
    grid-area:about;
    margin-top:50vh;
}
