#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.home {
    grid-area: main;
    display: grid;
    grid-template-areas: "news" "courses" "contact" "support" "about";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .home {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "news news" "courses courses" "contact support" "about about";
    }

}

@media(min-width: 799.3px) {
    .home {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 12em repeat(2, fit-content(0)) auto auto fit-content(0);
        grid-template-areas: ". news ." ". courses ." ". contact ." ". support ." "about about about";
    }

}

@media(min-width: 1259.3px) {
    .home {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: ". news news ." ". courses courses ." ". contact contact ." ". support support ." ". about about .";
    }
}
.news{
    grid-area:news;
}
.news-grid{
    display:grid;
    grid-template-areas: "headlines" "image" "title";
    grid-gap: 2vmin
}
@media(min-width: 499.3px) {
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "headlines headlines" "title image" "title image";
    }

}

@media(min-width: 799.3px) {
    .news-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: "headlines headlines image" "title title image" "title title image";
    }

}

@media(min-width: 1259.3px) {
    .news-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: "headlines headlines image image" "title title image image" "title title image image";
    }
}
.news-grid-headlines{
    grid-area:headlines;
}
.news-grid-image{
    grid-area:image;
}
.news-grid-title{
    grid-area:title;
}

.courses{
    grid-area:courses;
}
.course-cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 0 2%;
    grid-template-rows: auto;
    grid-auto-rows: 0;
}
.course-card{
    position:relative;
    overflow:hidden;
    background:var(--secondary-background-color);
}
.course-card-top{
    display: block;
    position: relative;
    line-height: 0;
}
.course-card-top-image{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    aspect-ratio: 1.6;
}
.course-card-top-image-overlay time{
    left: 0;
    border-radius: 0 0 5px 0;
    font-size: 90%;
}
.course-card-top-image-overlay {
    position: absolute;
    top: 0;
    line-height: 1.3em;
    padding: .2em .5em .3em .5em;
    background:var(--text-over-image-background-color);
    color: var(--main-text-color);
    opacity: 1;
}
.name{
    right: 0;
    border-radius: 0 0 0 5px;
    top: unset;
    bottom: 0;
}
.course-card-content{
    padding: 3% 3% 4% 6%;
    display: block;
    max-height: 12em;
}
.course-card-text-title{
    display: block;
}
.testimonies{
    grid-area:testimonies;
}
.contact{
    grid-area:contact;
}
.support{
    grid-area:support;
}
.timeline{
    grid-area:timeline;
}
.about{
    grid-area:about;
}
