:root{
  --main-text-color: #000;
  --secondary-text-color: #474747;
  --main-background-color: #fff;
  --main-highlight-color: #1b66c9;
  --main-link-color: #1a73e8;
  --menu-cover: rgba(0,0,0,.5);
  --main-hover-color: rgba(32,33,36,.1);
  --secondary-background-color: #f8f9fa;
  --text-over-image-background-color: rgba(255,255,255,.7);
  --cards-border-color: #dadce0;
  --cards-shadow-color:rgba(0,0,0,.12);
}
