:root{
  --main-text-color: #000;
  --main-background-color: #fff;
  --main-highlight-color: #988AB5;
  --main-link-color: #003887;
  --menu-cover: rgba(0,0,0,.5);
  --main-hover-color: rgba(32,33,36,.1);
}
