#main-wrap {
    display: grid;
    grid-template-areas: ". . main . .";
    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
    margin-top: var(--site-header-margin);
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "table";
    grid-gap: 2vmin
}

@media(min-width: 499.3px) {
    .main {
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: auto repeat(3, fit-content(0));
        grid-template-areas: "table table table";
    }

}

@media(min-width: 799.3px) {
    .main {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: repeat(2, fit-content(0)) fit-content(0) auto;
        grid-template-areas: "table table table";
    }

}

@media(min-width: 1259.3px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fit-content(0)) auto minmax(0, 1fr);
        grid-template-areas: "table table table table";
    }
}
@media(max-width: 1259.3px) {
    .table table thead tr th {
        writing-mode:vertical-lr;
        text-orientation:upright;
    }
    .table-body .button {
        font-size: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

.table{
    grid-area: table;
}

.table table{
    width:100%;
}

.table-body tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.red{
    background-color:var(--main-attention-color);
}

