<!DOCTYPE html>
<html lang="zh">
<head>
  <title>检查⼊学申请表 - Logos复兴神学院</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
  <meta name="description" content="Logos复兴神学院⼊学申请表检查">
  <meta name="keywords" content="Logos,复兴,神学院,教导,培训,研究,神学,意大利,罗马,⼊学申请表,检查,Seminari,Logos,Roma,Italia,Revival,education,application,review">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="preload" as="style" href="/fonts.css">
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="/fonts.css">
  <link rel="stylesheet" href="/light-theme.css">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/form.css">
  <link rel="stylesheet" href="/application.css">
  <script src="/user.js"></script>
  <script src="/load.js"></script>
  <script src="/reviewapplication.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <header>
    <div class="blur"></div>
    <div class="menu">
      <input type="checkbox" id="menu-button" class="menu-display" autocomplete="off">
      <label for="menu-button" class="menu-cover"></label>
      <label for="menu-button" class="menu-icon">
        <span class="menu-bars"></span>
      </label>
      <div class="logo">
        <a href="/">
          <div class="logo-wrap">
            <img src="/logo.png">
          </div>
        </a>
      </div>
      <nav id="nav">
        <div class="menu-item">
          <a href="/about">学院简介</a>
        </div>
        <div class="sub-menu"><div class="sub-menu-grid">
          <div class="column1">
            <p>栏目标题<p>
          </div>
          <div class="sub-column1">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column2">
            <p>栏目标题<p>
          </div>
          <div class="sub-column2">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column3">
            <p>栏目标题<p>
          </div>
          <div class="sub-column3">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column4">
            <p>栏目标题<p>
          </div>
          <div class="sub-column4">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column5">
            <p>栏目标题<p>
          </div>
          <div class="sub-column5">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
        </div></div>
        <div class="menu-item">
          <a href="/faith">信仰告白</a>
        </div>
        <div class="sub-menu"><div class="sub-menu-grid">
          <div class="column1">
            <p>栏目标题<p>
          </div>
          <div class="sub-column1">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column2">
            <p>栏目标题<p>
          </div>
          <div class="sub-column2">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column3">
            <p>栏目标题<p>
          </div>
          <div class="sub-column3">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column4">
            <p>栏目标题<p>
          </div>
          <div class="sub-column4">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column5">
            <p>栏目标题<p>
          </div>
          <div class="sub-column5">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
        </div></div>
        <div class="menu-item">
          <a href="/courses">学位学制</a>
        </div>
        <div class="sub-menu"><div class="sub-menu-grid">
          <div class="column1">
            <p>栏目标题<p>
          </div>
          <div class="sub-column1">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column2">
            <p>栏目标题<p>
          </div>
          <div class="sub-column2">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column3">
            <p>栏目标题<p>
          </div>
          <div class="sub-column3">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column4">
            <p>栏目标题<p>
          </div>
          <div class="sub-column4">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column5">
            <p>栏目标题<p>
          </div>
          <div class="sub-column5">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
        </div></div>
        <div class="menu-item">
          <a href="/articles">浏览文章</a>
        </div>
        <div class="sub-menu"><div class="sub-menu-grid">
          <div class="column1">
            <p>栏目标题<p>
          </div>
          <div class="sub-column1">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column2">
            <p>栏目标题<p>
          </div>
          <div class="sub-column2">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column3">
            <p>栏目标题<p>
          </div>
          <div class="sub-column3">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column4">
            <p>栏目标题<p>
          </div>
          <div class="sub-column4">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column5">
            <p>栏目标题<p>
          </div>
          <div class="sub-column5">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
        </div></div>
        <div class="menu-item">
          <a href="/showcase">展示网页</a>
        </div>
        <div class="sub-menu"><div class="sub-menu-grid">
          <div class="column1">
            <p>栏目标题<p>
          </div>
          <div class="sub-column1">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column2">
            <p>栏目标题<p>
          </div>
          <div class="sub-column2">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column3">
            <p>栏目标题<p>
          </div>
          <div class="sub-column3">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column4">
            <p>栏目标题<p>
          </div>
          <div class="sub-column4">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
          <div class="column5">
            <p>栏目标题<p>
          </div>
          <div class="sub-column5">
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
            <p><a href="/">一行内容</a></p>
          </div>
        </div></div>
      </nav>
    </div>
    <div class="site-buttons"><a class="signin button button-empty"></a></div>
  </header>
  <div id="main-wrap"><div id="cover" class="cover"></div>
    <div class="main">
      <div class="title">
          <h1>
              Logos 复兴神学院
          </h1>
      </div>
      <div class="description">
          <h1>
              入学申请表
          </h1>
      </div>
      <div class="part1">
          <div class="part-title">
              <h2>一、申读的课系</h2>
          </div>
          <div class="part-content" id="apply">
		<div id="course"></div>
          </div>
      </div>
      <div class="part2">
          <div class="part-title">
              <h2>二、学生资料</h2>
          </div>
          <div class="part-content" id="applystudent">
              <div class="subsection">
                <h3>姓：</h3>
		<div id="surname"></div>
                <h3>名字：</h3>
		<div id="name"></div>
                <h3>性别：</h3>
		<div id="gender"></div>
                <h3>生日：</h3>
		<div id="birthdate"></div>
                <h3>地址：</h3>
		<div id="address"></div>
                <h3>邮政编码：</h3>
		<div id="postalcode"></div>
                <h3>住宅电话：</h3>
		<div id="phone"></div>
                <h3>移动电话：</h3>
		<div id="mobile"></div>
                <h3>微信号：</h3>
		<div id="weixin"></div>
                <h3>电子邮件：</h3>
		<div id="email"></div>
              </div>
          </div>
          <div class="part-content" id="studentinfo">
              <div class="subsection">
                <h3>兴趣特长</h3>
                <div class="flex-display">
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="computers"><div class="circle-around"> </div></div><p>电脑</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="english"><div class="circle-around"> </div></div><p>英语</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="calligraphy"><div class="circle-around"> </div></div><p>书法</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="music"><div class="circle-around"> </div></div><p>音乐</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="dance"><div class="circle-around"> </div></div><p>舞蹈</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="other"><div class="circle-around"> </div></div><p>其他</p></div>
                </div>
                <div id="othertext"></div>
              </div>
              <div class="subsection">
                <h3>职业</h3>
                <div class="flex-display">
		    <p>当前职业：</p><div id="currentjob"></div>
                </div>
                <div class="flex-display">
		    <p>何年开始：</p><div id="currentjobstart"></div>
                </div>
              </div>
              <div class="subsection">
                <h3>婚姻状况</h3>
                <div class="flex-display">
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="single"><div class="circle-around"> </div></div><p>单身</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="engaged"><div class="circle-around"> </div></div><p>订婚</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="married"><div class="circle-around"> </div></div><p>已婚</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="widow"><div class="circle-around"> </div></div><p>寡居</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="separated"><div class="circle-around"> </div></div><p>分居</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="divorced"><div class="circle-around"> </div></div><p>离婚</p></div>
		  <div class="separator-slash"><p>/</p></div>
	          <div class="circle-option-wrap"><div class="circle-around-anchor hidden" id="divorcedandremarried"><div class="circle-around"> </div></div><p>离婚又再婚</p></div>
                </div>
                <div class="hidden" id="ifmarried">
                  <div class="flex-display">
		    <p>配偶姓名：</p><div id="partnername"></div>
                  </div>
                  <div class="flex-display">
		    <p>配偶职业：</p><div id="partnerjob"></div>
                  </div>
                </div>
                <div class="hidden" id="ifchildren">
                  <div class="flex-display">
		    <p>儿女的姓名和年龄：</p><div id="children"></div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="part3">
          <div class="part-title">
              <h2>三、所受的教育资料</h2>
          </div>
          <div class="part-content" id="education">
              <div class="subsection" id="education1">
                <h3>学校的名称</h3>
		<div id="institution1"></div>
                <h3>获得学位或证书</h3>
		<div id="certificate1"></div>
                <h3>注册(年)</h3>
		<div id="registrationyear1"></div>
                <h3>毕业(年)</h3>
		<div id="graduationyear1"></div>
              </div>
              <div class="subsection hidden" id="education2">
                <h3>学校的名称</h3>
		<div id="institution2"></div>
                <h3>获得学位或证书</h3>
		<div id="certificate2"></div>
                <h3>注册(年)</h3>
		<div id="registrationyear2"></div>
                <h3>毕业(年)</h3>
		<div id="graduationyear2"></div>
              </div>
              <div class="subsection hidden" id="education3">
                <h3>学校的名称</h3>
		<div id="institution3"></div>
                <h3>获得学位或证书</h3>
		<div id="certificate3"></div>
                <h3>注册(年)</h3>
		<div id="registrationyear3"></div>
                <h3>毕业(年)</h3>
		<div id="graduationyear3"></div>
              </div>
              <div class="subsection hidden" id="education4">
                <h3>学校的名称</h3>
		<div id="institution4"></div>
                <h3>获得学位或证书</h3>
		<div id="certificate4"></div>
                <h3>注册(年)</h3>
		<div id="registrationyear4"></div>
                <h3>毕业(年)</h3>
		<div id="graduationyear4"></div>
              </div>
          </div>
      </div>
      <div class="part4">
          <div class="part-title">
              <h2>四、蒙恩得救与教会资料</h2>
          </div>
          <div class="part-content" id="churchlife">
              <div class="subsection">
                <h3>你何时承认信靠耶稣为主？</h3>
		<div id="faith"></div>
                <h3>你是否已受浸？何时？</h3>
		<div id="baptism"></div>
                <h3>你受洗的教会名称：</h3>
		<div id="baptismchurch"></div>
                <h3>你经常参加聚会的教会名称及城市，在这教会有几年时间？</h3>
		<div id="usualchurch"></div>
                <h3>如果你的教会与某个系统团队有关联，请提供系统团队的名称</h3>
		<div id="otherorganisations"></div>
              </div>
              <div class="subsection">
                <p>列出你这两年所有的服事和教会职务：</p>
                <div class="subsection" id="service1">
                  <h3>所服侍的教会</h3>
		  <div id="church1"></div>
                  <h3>侍奉的岗位</h3>
		  <div id="task1"></div>
                  <h3>开始(年)</h3>
		  <div id="startyear1"></div>
                  <h3>结束(年)</h3>
		  <div id="endyear1"></div>
                </div>
                <div class="subsection hidden" id="service2">
                  <h3>所服侍的教会</h3>
		  <div id="church2"></div>
                  <h3>侍奉的岗位</h3>
		  <div id="task2"></div>
                  <h3>开始(年)</h3>
		  <div id="startyear2"></div>
                  <h3>结束(年)</h3>
		  <div id="endyear2"></div>
                </div>
                <div class="subsection hidden" id="service3">
                  <h3>所服侍的教会</h3>
		  <div id="church3"></div>
                  <h3>侍奉的岗位</h3>
		  <div id="task3"></div>
                  <h3>开始(年)</h3>
		  <div id="startyear3"></div>
                  <h3>结束(年)</h3>
		  <div id="endyear3"></div>
                </div>
                <div class="subsection hidden" id="service4">
                  <h3>所服侍的教会</h3>
		  <div id="church4"></div>
                  <h3>侍奉的岗位</h3>
		  <div id="task4"></div>
                  <h3>开始(年)</h3>
		  <div id="startyear4"></div>
                  <h3>结束(年)</h3>
		  <div id="endyear4"></div>
                </div>
              </div>
              <div class="subsection">
                  <h3>你有没有与教会的领导们分享你蒙神呼召并上这神学课程的意愿？</h3>
		  <div id="callingshared"></div>
                  <h3>请表明他们的反应请</h3>
		  <div id="leadersreaction"></div>
              </div>
          </div>
      </div>
      <div class="part5">
          <div class="part-title">
              <h2>五、咨询人</h2>
          </div>
          <div class="part-content" id="consultants">
              <p>请提供两位咨询人的名字和联络资料 (不可以是自己的家庭成员或亲戚)。若有需要，本院招生会将会联络对方，咨询关于申请入学者的情况。</p>
                <div class="subsection" id="consultant1">
                  <h3>姓名：</h3>
		  <div id="name1"></div>
                  <h3>地址：</h3>
		  <div id="address1"></div>
                  <h3>联络电话：</h3>
		  <div id="phone1"></div>
                  <h3>与你的关系?</h3>
		  <div id="relationship1"></div>
                </div>
                <div class="subsection" id="consultant2">
                  <h3>姓名：</h3>
		  <div id="name2"></div>
                  <h3>地址：</h3>
		  <div id="address2"></div>
                  <h3>联络电话：</h3>
		  <div id="phone2"></div>
                  <h3>与你的关系?</h3>
		  <div id="relationship2"></div>
                </div>
          </div>
      </div>
      <div class="form">
          <div class="form-buttons">
              <a onclick="location.href = document.referrer" class="button back-button">返回</a>
              <a id="reject" class="button back-button">拒绝</a>
              <a id="accept" class="submit colorbutton button">接受申请</a>
          </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="about">
      <div class="footer-courses">
        <div class="footer-links">
          <p>学位学制</p>
          <p><a href="/courses/bachelor-of-theology">基督教神学学士</a></p>
          <p><a href="/courses/bachelor-of-ministry">基督教教牧学士</a></p>
          <p><a href="/courses/church-leadership-certificate">门徒领袖证书班</a></p>
          <p><a href="/courses/special-students">特殊学生</a></p>
        </div>
      </div>
      <div class="footer-aboutus">
        <div class="footer-links">
          <p>关于我们</p>
          <p><a href="/about">学院简介</a></p>
          <p><a href="/contact">联系我们</a></p>
        </div>
      </div>
      <div class="footer-privacy">
        <div class="footer-links">
          <p>隐私</p>
          <p><a href="/privacy">隐私政策</a></p>
        </div>
      </div>
      <div class="footer-copyright">版权所有 2021-2025 LOGOS复兴神学院</div>
    </div>
  </footer>
</body>
</html>
